<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Jasim Afnan Predhanekar</span>, a passionate, tech-savvy MBA candidate at RWTH Aachen with a background in IT and a strong interest in digital transformation and product strategy. Skilled in data analysis, Python, and SQL, I’ve supported automation projects and cross-functional teams. I'm currently exploring how AI, design thinking, and digital ecosystems can drive scalable and sustainable business solutions.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:afnannjasim@gmail.com" target="_blank" class="highlight-link">afnannjasim@gmail.com</a>
    </span>
  </h3>
</header>
